.hydra
.jvmopts
logs
project/project
project/target
target
tmp
.history
dist
/.idea
**/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
.target
/bin
.cache
.classpath
.project
.prefs
.sbtopts
local.conf
derby.log
sysctl-postgres.conf
project/project.iml
project/yoco-core-build.iml
project/local-build.properties
.ensime
.ensime_lucene
*.evo.hash
.pydevproject
yoco-core.sublime-project
yoco-core.sublime-workspace
.ensime_cache/
projectFilesBackup/.idea_modules
shelf/
.ensime/*
ensime.sbt
local.test.conf
.env
conf/local.config
hydra.log
/**/.DS_Store
bacon/*
.vscode
.bloop
.metals
